<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello BandTogetherApp!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <nav class="navbar is-transparent" role="navigation" aria-label="main-navigation">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item nav-home" href="/">Band Together</a>
        </div>
        <div class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="/">Home</a>
            <a class="navbar-item" href="/users">User List</a>
            <a class="navbar-item" href="/bands">Band List</a>
            <a class="navbar-item" href="/about">About</a>
          </div>
          <div class="navbar-end">
            <%= if current_user_name(@conn) do %>
              <a class="navbar-item" href="/profile">Hello, <%= current_user_name(@conn) %>!</a>
              <a class="navbar-item" href="/signout">Sign Out</a>
            <% else %>
              <a class="navbar-item" href="/signin">Sign In</a>
            <% end %>
          </div>
        </div>
      </div>
    </nav>

    <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
    <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

    <main role="main">
    <%= render @view_module, @view_template, assigns %>
    </main>

    <%# </div> <!-- /container --> %>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
