/* This file is for your main application css. */

body {
  margin: 0;
  margin-top: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
}

thead {
  font-size: 18px;
}

.front-hero {
  background-color: #29ecbe;
}

.front-appeal-sections {
  font-size: 18px;
}

a:hover {
  color: #fff;
}

p.alert {
  text-align: center;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 500;
  padding: 8px;
  width: 50%;
  min-width: 600px;
  margin: 12px auto;
}

p.alert:not(:empty):last-child {
  margin-bottom: 16px;
}

p.alert:not(:empty):first-of-type {
  margin-top: 16px;
}

p.alert:empty {
  display: none;
}

.alert.alert-info {
  background-color: #ddd;
}

.alert.alert-danger {
  background-color: #ecbe29;
}
