<div class="container">
  <h2 class="title">Show Tag</h2>

  <div class="content has-text-centered">
    <p><b>Tag name:</b> <%= @tag.tag_name %></p>
  </div>

  <span><%= link "Edit", to: tag_path(@conn, :edit, @tag) %></span>
  <span><%= link "Back", to: tag_path(@conn, :index) %></span>
</div>
